
@{

    ViewData["Title"] = "Charge Summary";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

}

<br />
<div class="row" style="height: 10%">
    <div class="pageTitle bg1" style="background: url('/images/bgblue11.jpg'); width: 100%; background-repeat:no-repeat; background-size:cover ">
        <h2>Payment Summary</h2>
        <div class="clear"></div>
    </div>
</div>

<div class="padd-t form-horizontal">

    <br /><br />
    <div class="row xrow" style="margin-left:25%">
        <div class="col-md-8 col-md-offset-1">
            <div style="color: gray; font-size: 14px; box-sizing: border-box;">

                <div style="background-color: #ece8d4; width:700px; min-height:200px;">
                    <div style="padding: 10px 30px 30px 30px;">
                        <button id="btn" type="button" style="float:right" onclick="printDiv()" class="btn btn-warning"><i class="fa fa-print"></i><b>Print</b></button>

                        <h3 style="text-align: center; font-weight: 300; padding-bottom: 8px; border-bottom: 1px solid #ddd;"><b class="text-success">Awaiting Payment</b></h3>

                        <p style="text-align: right; font-size: 14px;"></p>
                        <div id='DivIdToPrint'>
                            <b class="text-danger">Details Of The Transaction Is Listed Below:</b> <br /><br />
                            <ul style="font-family:Cambria; font-size:large">
                                <li><b class="text-danger">Application ID:</b><strong class="text-success"> @ViewBag.Applicationid</strong></li>
                                <li><b class="text-danger">Remita Reference:</b><strong class="text-success"> @ViewBag.RRR</strong></li>
                                <li><b class="text-danger">Payment Category:</b><strong class="text-success"> @ViewBag.AgencyName</strong></li>
                                <li><b class="text-danger">Total Amount:</b><strong class="text-success"> ₦@ViewBag.Amount</strong></li>
                                <li><b class="text-danger">Payment Status:</b><strong class="text-success"> Payment Pending</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form action="https://remitademo.net/remita/ecomm/finalize.reg" method="POST">
                    <input name="merchantId" value="@ViewBag.MerchantId" type="hidden" />
                    <input name="hash" value="@ViewBag.AppkeyHashed" type="hidden" />
                    <input name="rrr" value="@ViewBag.RRR" type="hidden" />
                    <input name="responseurl" value="@ViewBag.BaseUrl/Company/PaymentReceipt?ApplicationId=@ViewBag.Applicationid" type="hidden" /><br>
                    <button name="submit_btn" type="submit" style="margin-left:300px" class="btn btn-success"><i class="fa fa-money"></i> <b>Pay Now</b></button>

                    @*<input style="margin-left:300px" type="submit" name="submit_btn" class="btn btn-success" value="Pay Now">*@
                </form>
                <div name="bypassbtn" id="bypassbtn" onclick="ByPassPayment()" style="margin-left:300px" class="btn btn-success"><i class="fa fa-money"></i> <b>By Pass Payment</b></div>

            </div>
        </div>
    </div>





    @*}*@

</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            //$('#bypassbtn').click(function (e) {
            //    e.preventDefault();
            //    debugger;

            //});

        });
        function ByPassPayment() {

            //if ($("#formid").valid()) {
            debugger;
                var Applicationid = '@ViewBag.Applicationid';
                var txtPaymentName = '@ViewBag.AgencyName';
                var txtpaymentamount = '@ViewBag.Amount';

            $.post("/Company/ByPassPayment", { applicationid: Applicationid, PaymentName: txtPaymentName, paymentamount: txtpaymentamount }, function (data) {

                    if (data.status === "success") {
                        window.location = "/Company/DocumentUpload?ApplicationId=" + Applicationid;
                    } else {
                        alert(data.message);
                    }

                });
            //}

        }

        function printDiv() {

            var divToPrint = document.getElementById('DivIdToPrint');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);

        }
    </script>

}
