
@{

    ViewData["Title"] = "Charge Summary";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

}

<br />
<div class="row" style="height: 10%">
    <div class="pageTitle bg1" style="background: url('/images/bgblue11.jpg'); width: 100%; background-repeat:no-repeat; background-size:cover ">
        <h2>Payment Summary</h2>
        <div class="clear"></div>
    </div>
</div>

<div class="padd-t form-horizontal">

   

    <br /><br />

    <table class="table-condensed table-warning table-responsive" style="font-size:20px">

        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding-left:20px; padding-top:25px"><b class="text-success">Application Reference Number:</b><span class="text-primary"> @ViewBag.Applicationid</span></td>

            </tr>
            <tr>
                <td style="padding-left:20px"><b class="text-success">Remita Retrival Reference (RRR):</b> <span id="PaymentName" class="text-primary">@ViewBag.RRR</span></td>
            </tr>
            <tr>
                <td style="padding-left:20px"><b class="text-success">Payment Category:</b> <span id="PaymentName" class="text-primary">@ViewBag.AgencyName</span></td>
            </tr>
            <tr>
                <td style="padding-left:20px"><b class="text-success">Payment Amount:</b> <span class="text-danger">₦</span><span id="paymentamount" class="text-primary">@ViewBag.Amount</span></td>
            </tr>
            <tr>
                <td style="padding-left:20px"><b class="text-success">Payment Status:</b><span id="paymentamount" class="text-danger"> Payment Pending</span></td>
            </tr>
            <tr><td style="padding-bottom:50px"></td></tr>
            <tr><td></td></tr>
           
        </tbody>
    </table>
    <form action="https://remitademo.net/remita/ecomm/finalize.reg" method="POST">
        <input name="merchantId" value="@ViewBag.MerchantId" type="hidden" />
        <input name="hash" value="@ViewBag.AppkeyHashed" type="hidden" />
        <input name="rrr" value="@ViewBag.RRR" type="hidden" />
        <input name="responseurl" value="@ViewBag.BaseUrl/Company/PaymentReceipt?ApplicationId=@ViewBag.Applicationid" type="hidden"/><br />
        <input style="margin-left:200px" type="submit" name="submit_btn" class="btn btn-success" value="Pay Via Remita">
    </form>

    @*}*@

</div>

    @section scripts{
        <script type="text/javascript">

            $(document).ready(function () {

                //$("#hidepaymentdetails").hide();


                //$(".paymentcat").ready(function () {
                //    debugger;
                //    var html = "";
                //    $(".paymentcat").html("");

                //    $.getJSON("/Company/AllAgencyFees",
                //        {},
                //        function (datas) {
                //            debugger;
                //            $(".paymentcat").append("<option></option>");
                //            $.each(datas, function (key, val) {
                //                html += "<option value=" + val.paymentAmount + ">" + val.paymentCategoryName + "</option>";
                //            });
                //            $(".paymentcat").append(html);
                //        });
                //});


                //$(".paymentcat").on("change", function () {
                //    debugger;
                //    paymentamount = $("#paymentcat option:selected").val();
                //    paymentname = $("#paymentcat option:selected").text();
                //    if (paymentamount != "") {
                //        $("#hidepaymentdetails").show();
                //        $("#txtPaymentName").val(paymentname);
                //        $("#PaymentName").text(paymentname);
                //        $("#txtpaymentamount").val(paymentamount);
                //        $("#paymentamount").text(paymentamount);
                //    } else {
                //        $("#hidepaymentdetails").hide();

                //    }



                //});



                //$('#paymentbtn').click(function (e) {
                //    e.preventDefault();
                //    debugger;
                //    if ($("#formid").valid()) {

                //        var Applicationid = $("#appid").val();
                //        var txtPaymentName = $("#txtPaymentName").val();
                //        var txtpaymentamount = $("#txtpaymentamount").val();

                //        $.post("/Company/ChargeSummary", { applicationid: Applicationid, PaymentName: txtPaymentName, paymentamount: txtpaymentamount }, function (data) {

                //            if (data.status === "success") {
                //                window.location = "/Company/DocumentUpload?ApplicationId=" + Applicationid;
                //            } else {
                //                alert(data.message);
                //            }

                //        });
                //    }
                //});



                $('#bypassbtn').click(function (e) {
                    e.preventDefault();
                    debugger;
                    if ($("#formid").valid()) {

                        var Applicationid = $("#appid").val();
                        var txtPaymentName = $("#txtPaymentName").val();
                        var txtpaymentamount = $("#txtpaymentamount").val();

                        $.post("/Company/ChargeSummary", { applicationid: Applicationid, PaymentName: txtPaymentName, paymentamount: txtpaymentamount }, function (data) {

                            if (data.status === "success") {
                                window.location = "/Company/DocumentUpload?ApplicationId=" + Applicationid;
                            } else {
                                alert(data.message);
                            }

                        });
                    }
                });



            });
        </script>

    }
