@model List<RSPP.Models.DB.ApplicationRequestForm>

    @{
        ViewBag.Title = "All Applications";
        Layout = "~/Views/Shared/_ElaLayout.cshtml";
        RSPP.Models.DB.RSPPdbContext dbCtxt = new RSPP.Models.DB.RSPPdbContext();
    }


    <div class="content">
        <h2 class="lefty">All Applications</h2>
        <hr class="clear" />
        <div class="row">

           

            <table class="table table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Application Ref</th>
                        <th>Company Email</th>
                        <th>Agency Name</th>
                        <th>Fee Paid</th>
                        <th>App Stage</th>
                        <th>Status</th>
                        <th>Date Applied</th>
                        <th>Rate</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RSPP.Models.DB.ApplicationRequestForm br in Model)
                    {
                    <tr>
                        <td class="nr">@br.ApplicationId</td>
                        <td><a href="@Url.Action("ApplicationDetails", new { applicationId = br.ApplicationId })">@br.CompanyEmail</a></td>
                        <td>@br.Agency.AgencyName</td>

                        <td>
                            @{var amt = dbCtxt.PaymentLog.Where(w => w.ApplicationId == br.ApplicationId).FirstOrDefault().TxnAmount;}
                            <span>@amt</span>
                        </td>

                        <td>
                            @if (br.CurrentStageId == 7)
                            {
                                <div class="alert alert-mini alert-success">
                                    <button type="button" class="use-address media btn btn-success btn-xs"><strong>Certificate Issued</strong> <span class="glyphicon glyphicon-eye-open"></span></button>

                                    @*<strong>ATC Letter Issued</strong>*@
                                </div>
                            }
                            
                            else
                            {
                                <div class="alert alert-mini alert-info">
                                    <strong>@dbCtxt.WorkFlowState.Where(w => w.StateId == br.CurrentStageId).FirstOrDefault().StateName.ToString()</strong>
                                </div>
                            }
                        </td>
                        <td>
                            @{
                                if (br.Status == "Rejected")
                                {
                                    <div class="btn btn-danger">Rejected</div>
                                }
                                else if (br.Status == "Processing")
                                {
                                    <div class="btn btn-warning">Processing</div>
                                }
                                else if (br.Status == "Approved")
                                {
                                    <div class="btn btn-success">Approved</div>
                                }
                                else if (br.CurrentStageId == 2)
                                {
                                    <div class="btn btn-warning">Payment Pending</div>
                                }
                            }
                        </td>
                        <td>
                            @{
                                var date = br.AddedDate == null ? "" : br.AddedDate.Value.ToString("dd-MMM-yyyy");
                                <div>@date</div>
                            }
                        </td>
                        @{ string rate = dbCtxt.WorkFlowState.Where(w => w.StateId == br.CurrentStageId).FirstOrDefault().Progress; }
                        <td><div class="badge"><b style="font-size:large">@rate</b></div></td>
                        <td>
                            <a href="@Url.Action("ViewApplication", new { applicationId = br.ApplicationId})" class="btn btn-xs btn-info">View <span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                        <td>
                            <a href="@Url.Action("TransitionHistory", new { applicationId = br.ApplicationId})" class="btn btn-xs btn-primary">App History <span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div></div>

        @section scripts
{
            <script type="text/javascript">
                $(function () {
                    $("#lnk-Applications > a").addClass("selected").find(".act").addClass("selected");
                    //$(".sidebar > ul > li > ul li a[href='/Application']").addClass("selected");

                    $(".dataTable").dataTable({
                        "aLengthMenu": [25, 50, 75, 100, 200],
                        'iDisplayLength': 25,
                        columnDefs: [{ orderable: false, "targets": [-1, -3] }],
                        "language": {
                            "lengthMenu": "Display  _MENU_ records per page",
                            "zeroRecords": "Nothing found - sorry",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)"
                        },
                        "order": [[1, "desc"]]
                    });
                    $(".use-address").click(function () {
                        // var item = $(this).closest("tr").find(".nr").text();
                        window.open('/Admin/ALLPermits/', '_blank')
                    });

                });
            </script>
        }


