
@{
    ViewBag.Title = "Get Relieved Staff Out Of Office";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
}
<div class="content">

    <div class="row">
        <div class="col-md-12" style="background-color:white">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">List of Staffs Out of Office</legend>
                <table class="table table-striped table-condensed table-responsive customDT">
                    <thead>
                        <tr>
                            <th><strong>Reliever</strong>
                            <th><strong>Relieved Staff</strong> </th>
                            <th><strong>Start Date</strong></th>
                            <th><strong>End Date</strong></th>
                            <th><strong>Status</strong> </th>
                            <th><strong>Comment</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ReliverStaffOutofOfficeList != null)
                        {
                            foreach (var up in ViewBag.ReliverStaffOutofOfficeList)
                            {
                        <tr>
                            <td>@up.Reliever</td>
                            <td>@up.Relieved</td>
                            <td>@up.StartDate</td>
                            <td>@up.EndDate</td>
                            <td>@up.Status</td>
                            <td>@up.Comment</td>
                            <td><span class="btn btn-primary btn-sm" onclick="Login('@up.Relieved', '@up.Password')"> <span style="font-size:18px">⇄︁</span> <b style="font-size:14px">Switch Account</b></span></td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div style="display:none" id="loadingImage" class="loadingImage">
        <div id="load" style="width: 100%; height: 100%; top:0; left:0; position:fixed; display:block; opacity:0.7; background-color:#fff; z-index:99; text-align:center">
            <img id="loading-image" style="position:absolute; top:100px; left:50%; z-index:100" src="~/images/spinning.gif" />
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
       
        window.setInterval(function () {
            $.post('/Admin/GetStaffStartOutofOffice', function (result) {
                if (result == "done") {
                    //console("triggered done start");
                    }
            });
        }, 30000);
       
        $(function () {
            $(".customDT").dataTable({
                "aLengthMenu": [10, 25, 50, 75, 100, 200],
                'iDisplayLength': 10,
                columnDefs: [{ orderable: false, "targets": [0, -1] }],
                "language": {
                    "lengthMenu": "Display  _MENU_ records",
                    "zeroRecords": "No record found",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No Record to Display Currently",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                "order": [[1, "desc"]]
            });
        });

        function Login(email, password) {
            debugger;

            $.post("/Account/Login/", { Email: email, Password: password }, function (data) {

                var status = data.status;
                var message = data.message;
                if (status === "success" && message === "Company") {
                    window.location = "/Company/Index";
                } else if (status === "success" && message === "Admin") {
                    window.location = "/Admin/Index";
                } else {
                    $(".loadingImage").hide();
                    alert(message);
                }

            });
            

        }



            </script>
}