@model List<RSPP.Models.DB.LineOfBusiness>

@{
    ViewBag.Title = "WorkFlow";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
}

<div class="content">



    @using (Html.BeginForm("PostPaymentConfig", "Admin", FormMethod.Post, new { @id = "formid" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade addpaymentdmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="margin:0 auto 0 -20%; margin-top:30%; height:100%; overflow-y:hidden; overflow-x:hidden; display:block;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-success" id="exampleModalLabel"><i class="fa fa-hand-o-down"></i> Add Payment Record</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <label>Payment Category</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="txtpaymentname" required name="txtpaymentname" class="form-control" />
                                            </div>
                                        </div>

                                        <label>Amount</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="txtamount" required name="txtamount" class="form-control" />
                                            </div>
                                        </div>


                                        <label>Form Type Id</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="txtformtypeId" required name="txtformtypeId" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span style="margin-left:200px"> <button class="btn btn-success" id="addpaymentrecord" type="button"><i class="fa fa-plus"></i> Add Payment</button></span>

                    </div>

                </div>
            </div>
        </div>
    }





    @*@using (Html.BeginForm("UpdatePaymentConfig", "Admin", FormMethod.Post, new { @id = "formid" }))
    {
        @Html.AntiForgeryToken()*@
        <div class="modal fade updaterecordmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="margin:0 auto 0 -20%; margin-top:30%; height:100%; overflow-y:hidden; overflow-x:hidden; display:block;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-success" id="exampleModalLabel"><i class="fa fa-hand-o-down"></i> Update WorkFlow Record</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <label>Payment Category</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="txtupdatepaymentname" required name="txtupdatepaymentname" class="form-control" />
                                                <input type="hidden" id="txtupdatepaymentId" name="txtupdatepaymentId" class="form-control" />
                                            </div>
                                        </div>
                                        <label>Amount</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="txtupdateamount" required name="txtupdateamount" class="form-control" />
                                            </div>
                                        </div>
                                        <label>Form Type Id</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="txtupdateformtypeid" required name="txtupdateformtypeid" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <span style="margin-left:200px"> <span class="btn btn-success" onclick="updatepaymentrecord()" type="button"><i class="fa fa-save"></i> Update Record</span></span>

                    </div>

                </div>
            </div>
        </div>
    //}

    @using (Html.BeginForm("DeleteFees", "Admin", FormMethod.Post, new { @id = "formid" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade deleterecordmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="margin:0 auto 0 -20%; margin-top:30%; height:100%; overflow-y:hidden; overflow-x:hidden; display:block;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-danger" id="exampleModalLabel"><i class="fa fa-hand-o-down"></i> Are you sure you want to delete this record?</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <label>Fee Category Name</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="txtfeename" required readonly name="txtfeename" class="form-control" />
                                                <input type="hidden" id="txtlineofbusinessid" name="txtlineofbusinessid" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span style="margin-left:200px"> <button class="btn btn-danger" id="deleterolerecord" type="button"><i class="fa fa-save"></i> Delete</button></span>
                    </div>
                </div>
            </div>
        </div>
    }


        <div class="row">
            <div class="col-md-12" style="background-color:white">

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Fees Information</legend>
                    <button class="btn btn-xs btn-info" style="float:right" data-toggle="modal" data-target=".addpaymentdmodal"><i class="fa fa-plus"></i> Add Fees</button>
                    <br />
                    <table class="table table-striped table-condensed table-responsive table-bordered customDT" id="mytable">
                        <thead>
                            <tr>
                                <th><strong>Payment Category</strong> </th>
                                <th><strong>Amount</strong></th>
                                <th><strong>Form Type Id</strong></th>
                                <th style="width:2px"></th>
                                <th style="width:2px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var n in Model)
                            {
                                <tr>
                                    <td>@n.LineOfBusinessName</td>
                                    <td>@n.Amount</td>
                                    <td>@n.FormTypeId</td>
                                    <td><button class="btn btn-success btn-xs" onclick="PaymentConfigJs('@n.LineOfBusinessId', '@n.LineOfBusinessName', '@n.Amount', '@n.FormTypeId')" id="updatebtn"><i class="fa fa-eye"></i> Update</button></td>
                                    <td><button class="btn btn-danger btn-xs" onclick="DeleteJs('@n.LineOfBusinessId','@n.LineOfBusinessName')" id="deletebtn"><i class="fa fa-trash"></i> Delete</button></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>

        <div style="display:none" class="loadingImage">
            <div id="load" style="width: 100%; height: 100%; top:0; left:0; position:fixed; display:block; opacity:0.7; background-color:#fff; z-index:99; text-align:center">
                <img id="loading-image" style="position:absolute; top:100px; left:50%; z-index:100" src="~/images/spinning.gif" />
            </div>
        </div>

        <div id="modalMapDialog" style="display: none">
            <div id="MapContainer" style="height: 430px; width: 100%;border: 5px solid green;"></div>
        </div>

    </div>




@section scripts{
    
    <script type="text/javascript">

            $(function () {

                //$("#updatepaymentrecord").click(function () {
                   

                //});


                $("#deleterolerecord").click(function () {
                    $(".deleterecordmodal").modal("hide");
                    debugger;
                    var deletelineofbusinessid = $("#txtlineofbusinessid").val();
                    $(".loadingImage").show('fast');
                    $.post("/Admin/DeleteFees", { "lineofbusinessid": deletelineofbusinessid }, function (res) {
                        if (res === "success") {
                            alert("Record was successfully deleted");
                            $(".deleterecordmodal").modal("hide");
                            $(".loadingImage").hide('fast');
                            history.go(0);
                        }
                        else {
                            alert("Something went wrong");
                            $(".loadingImage").hide('fast');
                        }
                    });
                    $(".loadingImage").hide('fast');

                });



                $("#addpaymentrecord").click(function () {
                    if ($("#formid").valid()) {
                        debugger;
                        var msg = confirm("Are you sure you want to Add this record?");
                        var paymentname = $("#txtpaymentname").val();
                        var amount = $("#txtamount").val();
                        var formtypeid = $("#txtformtypeId").val();

                        if (msg === true) {
                            $(".loadingImage").show('fast');
                            $.post("/Admin/PostPaymentConfig", { "Paymentname": paymentname, Amount: amount, Formtypeid: formtypeid}, function (res) {
                                if (res === "success") {
                                    alert("New record was added successfully");
                                    $(".updaterecordmodal").modal("hide");
                                    $(".loadingImage").hide('fast');
                                    history.go(0);
                                }
                                else {
                                    alert("Something went wrong");
                                    $(".loadingImage").hide('fast');
                                }
                            });
                            $(".loadingImage").hide('fast');
                        }
                        else {
                            return false;
                        }

                    }

                });

                $("#mytable").dataTable({
                    "aLengthMenu": [10, 25, 50, 75, 100, 200],
                    'iDisplayLength': 10,
                    columnDefs: [{ orderable: false, "targets": [0, -1] }],
                    "language": {
                        "lengthMenu": "Display  _MENU_ records",
                        "zeroRecords": "No record found",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoEmpty": "No Record to Display Currently",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    },
                    "order": [[1, "desc"]]
                });
            });

           function PaymentConfigJs(LineOfBusinessId, LineOfBusinessName, Amount, FormTypeId) {
                debugger;
               $(".loadingImage").show('fast');
               $("#txtupdatepaymentId").val(LineOfBusinessId);
               $("#txtupdatepaymentname").val(LineOfBusinessName);
               $("#txtupdateamount").val(Amount);
               $("#txtupdateformtypeid").val(FormTypeId);
               $(".updaterecordmodal").modal('show');
               $(".loadingImage").hide('fast');
            };

        function DeleteJs(lineofbusinessid, lineofbusinessname) {
            debugger;
            $(".loadingImage").show('fast');
            $("#txtlineofbusinessid").val(lineofbusinessid);
            $("#txtfeename").val(lineofbusinessname);
            $(".deleterecordmodal").modal('show');
            $(".loadingImage").hide('fast');
        };

        function updatepaymentrecord() {
            var msg = confirm("Are you sure you want to update this record?");
            $(".updaterecordmodal").modal("hide");
            debugger;
            var updatepaymentId = $("#txtupdatepaymentId").val();
            var updatepaymentname = $("#txtupdatepaymentname").val();
            var updateamount = $("#txtupdateamount").val();
            var updateformtypeid = $("#txtupdateformtypeid").val();
            if (msg === true) {
                $(".loadingImage").show('fast');
                $.post("/Admin/UpdatePaymentConfig", { UpdatepaymentId: updatepaymentId, "Updatepaymentname": updatepaymentname, "Updateamount": updateamount, Updateformtypeid: updateformtypeid }, function (res) {
                    if (res === "success") {
                        alert("Payment category was successfully updated");
                        $(".updaterecordmodal").modal("hide");
                        $(".loadingImage").hide('fast');
                        history.go(0);
                    }
                    else {
                        alert("Something went wrong");
                        $(".loadingImage").hide('fast');
                    }
                });
                $(".loadingImage").hide('fast');
            }
            else {
                return false;
            }

        }

    </script>
}


