@model List<RSPP.Models.DB.WorkFlowNavigation>
   
    @{
        ViewBag.Title = "WorkFlow";
        Layout = "~/Views/Shared/_ElaLayout.cshtml";
    }

<div class="content">



    @using (Html.BeginForm("AddWorkFlowRecord", "Admin", FormMethod.Post, new { @id = "formid" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade addworkflowdmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="margin:0 auto 0 -20%; margin-top:30%; height:100%; overflow-y:hidden; overflow-x:hidden; display:block;" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-success" id="exampleModalLabel"><i class="fa fa-hand-o-down"></i> Add WorkFlow Record</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-sm-6">


                                        <label>Action</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="txtAction" required name="txtAction" class="form-control" />
                                            </div>
                                        </div>

                                        <label>Action Role</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <select id="txtActionRole" required name="txtActionRole" class="form-control"></select>

                                            </div>
                                        </div>


                                        <label>Next StateID</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="txtNextStateID" required name="txtNextStateID" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <label>Target Role</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <select id="txtTargetRole" required name="txtTargetRole" class="form-control"></select>
                                            </div>
                                        </div>

                                        <label>Current StageID</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="txtCurrentStageID" required name="txtCurrentStageID" class="form-control" />
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>


                        <span style="margin-left:200px"> <button class="btn btn-success" id="workflowaddrecord" type="button"><i class="fa fa-plus"></i> Add WorkFlow</button></span>

                    </div>

                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("DeleteWorkFlow", "Admin", FormMethod.Post, new { @id = "formid" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade deleterecordmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="margin:0 auto 0 -20%; margin-top:30%; height:100%; overflow-y:hidden; overflow-x:hidden; display:block;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-danger" id="exampleModalLabel">Are you sure you want to delete record?</h4>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="txtworkflowid" name="txtworkflowid" class="form-control" />
                        <span style="margin-left:200px"> <button class="btn btn-danger" id="deleteworkflowrecord" type="button"><i class="fa fa-save"></i> Delete</button></span>
                    </div>
                </div>
            </div>
        </div>
    }

   
        <div class="modal fade updaterecordmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="margin:0 auto 0 -20%; margin-top:30%; height:100%; overflow-y:hidden; overflow-x:hidden; display:block;" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-success" id="exampleModalLabel"><i class="fa fa-hand-o-down"></i> Update WorkFlow Record</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-sm-6">

                                        <label>Action</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="Action" name="Action" class="form-control" />
                                                <input type="hidden" id="txtupdateworkflowid" name="txtupdateworkflowid" class="form-control" />
                                            </div>
                                        </div>

                                        <label>Action Role</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="ActionRole" name="ActionRole" class="form-control" />
                                            </div>
                                        </div>


                                        <label>Next StateID</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="NextStateID" name="NextStateID" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <label>Target Role</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="TargetRole" name="TargetRole" class="form-control" />
                                            </div>
                                        </div>

                                        <label>Current StageID</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="number" id="CurrentStageID" name="CurrentStageID" class="form-control" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <span style="margin-left:200px"> <span class="btn btn-success" onclick="workflowupdaterecord()" id="workflowupdaterecord"><i class="fa fa-save"></i> Update Record</span></span>

                    </div>

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-12" style="background-color:white">

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">WorkFlow Information</legend>
                    <button class="btn btn-xs btn-info" style="float:right" data-toggle="modal" data-target=".addworkflowdmodal"><i class="fa fa-plus"></i> Add WorkFlow</button>
                    <br />
                    <table class="table table-striped table-condensed table-responsive table-bordered customDT" id="mytable">
                        <thead>
                            <tr>
                                <th><strong>Action</strong> </th>
                                <th><strong>Action Role</strong></th>
                                <th><strong>Current StageID</strong></th>
                                <th><strong>Next StateID</strong></th>
                                <th><strong>Target Role</strong></th>
                                <th style="width:2px"></th>
                                <th style="width:2px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (RSPP.Models.DB.WorkFlowNavigation n in Model)
                            {
                                <tr>
                                    <td>@n.Action</td>
                                    <td>@n.ActionRole</td>
                                    <td>@n.CurrentStageId</td>
                                    <td>@n.NextStateId</td>
                                    <td>@n.TargetRole</td>
                                    <td><button class="btn btn-success btn-xs" onclick="WorkFlowJs('@n.WorkFlowId', '@n.Action', '@n.ActionRole', '@n.CurrentStageId', '@n.NextStateId', '@n.TargetRole')" id="updatebtn"><i class="fa fa-eye"></i> Update</button></td>
                                    <td><button class="btn btn-danger btn-xs" onclick="DeleteJs('@n.WorkFlowId')" id="deletebtn"><i class="fa fa-trash"></i> Delete</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>

        <div style="display:none" class="loadingImage">
            <div id="load" style="width: 100%; height: 100%; top:0; left:0; position:fixed; display:block; opacity:0.7; background-color:#fff; z-index:99; text-align:center">
                <img id="loading-image" style="position:absolute; top:100px; left:50%; z-index:100" src="~/images/spinning.gif" />
            </div>
        </div>

        <div id="modalMapDialog" style="display: none">
            <div id="MapContainer" style="height: 430px; width: 100%;border: 5px solid green;"></div>
        </div>

    </div>




    @section scripts{
       
        <script type="text/javascript">

            $(function () {


                $("#deleteworkflowrecord").click(function () {
                    $(".deleterecordmodal").modal("hide");
                    debugger;
                    var workflowid = $("#txtworkflowid").val();
                    $(".loadingImage").show('fast');
                    $.post("/Admin/DeleteWorkFlow", { Workflowid: workflowid }, function (res) {
                        if (res === "success") {
                            alert("Record was successfully deleted");
                            $(".deleterecordmodal").modal("hide");
                            $(".loadingImage").hide('fast');
                            history.go(0);
                        }
                        else {
                            alert("Something went wrong");
                            $(".loadingImage").hide('fast');
                        }
                    });
                    $(".loadingImage").hide('fast');

                });



                



                $("#workflowaddrecord").click(function () {
                    if ($("#formid").valid()) {
                        var msg = confirm("Are you sure you want to Add this record?");
                        var Action = $("#txtAction").val();
                        var ActionRole = $("#txtActionRole option:selected").val();
                        var currentStageID = $("#txtCurrentStageID").val();
                        var nextStateID = $("#txtNextStateID").val();
                        var TargetRole = $("#txtTargetRole option:selected").val();
                        if (msg === true) {
                            $(".loadingImage").show('fast');
                            $.post("/Admin/AddWorkFlowRecord", {"Action": Action, "ActionRole": ActionRole, CurrentStageID: currentStageID, NextStateID: nextStateID, "TargetRole": TargetRole}, function (res) {
                                if (res === "success") {
                                    alert("New record was successful");
                                    $(".updaterecordmodal").modal("hide");
                                    $(".loadingImage").hide('fast');
                                    history.go(0);
                                }
                                else {
                                    alert("Something went wrong");
                                    $(".loadingImage").hide('fast');
                                }
                            });
                            $(".loadingImage").hide('fast');
                        }
                        else {
                            return false;
                        }

                    }

                });

                $("#mytable").dataTable({
                    "aLengthMenu": [10, 25, 50, 75, 100, 200],
                    'iDisplayLength': 10,
                    columnDefs: [{ orderable: false, "targets": [0, -1] }],
                    "language": {
                        "lengthMenu": "Display  _MENU_ records",
                        "zeroRecords": "No record found",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoEmpty": "No Record to Display Currently",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    },
                    "order": [[1, "desc"]]
                });


                $("#txtActionRole,#txtTargetRole").ready(function () {//get all user role populated in the dropdownlist
                    var html = "";
                    debugger;
                    $("#txtActionRole,#txtTargetRole").html("");

                    $.getJSON("/Admin/GetUserRole",
                        {},
                        function (datas) {
                            $("#txtActionRole,#txtTargetRole").append("<option disabled selected>--Select Role--</option>");
                            $.each(datas,
                                function (key, val) {
                                    html += "<option value=" + val.role + ">" + val.role + "</option>";
                                });
                            $("#txtActionRole,#txtTargetRole").append(html);
                        });
                });

            });

            function WorkFlowJs(WorkFlowId, Action, ActionRole, CurrentStageID, NextStateID, TargetRole) {
                debugger;
                $(".loadingImage").show('fast');
                $("#txtupdateworkflowid").val(WorkFlowId);
                $("#Action").val(Action);
                $("#ActionRole").val(ActionRole);
                $("#CurrentStageID").val(CurrentStageID);
                $("#NextStateID").val(NextStateID);
                $("#TargetRole").val(TargetRole);
                $(".updaterecordmodal").modal('show');
                $(".loadingImage").hide('fast');
            };


            function DeleteJs(workflowid) {
                debugger;
                $(".loadingImage").show('fast');
                $("#txtworkflowid").val(workflowid);
                $(".deleterecordmodal").modal('show');
                $(".loadingImage").hide('fast');
            };

            function workflowupdaterecord() {
                var msg = confirm("Are you sure you want to update this record?");
                $(".updaterecordmodal").modal("hide");
                debugger;
                var workFlowId = $("#txtupdateworkflowid").val();
                var Action = $("#Action").val();
                var ActionRole = $("#ActionRole").val();
                var currentStageID = $("#CurrentStageID").val();
                var nextStateID = $("#NextStateID").val();
                var TargetRole = $("#TargetRole").val();

                if (msg === true) {
                    $(".loadingImage").show('fast');
                    $.post("/Admin/UpdateWorkFlowRecord", { WorkFlowId: workFlowId, "Action": Action, "ActionRole": ActionRole, CurrentStageID: currentStageID, NextStateID: nextStateID, "TargetRole": TargetRole }, function (res) {
                        if (res === "success") {
                            alert("Update was successful");
                            $(".updaterecordmodal").modal("hide");
                            $(".loadingImage").hide('fast');
                            history.go(0);
                        }
                        else {
                            alert("Something went wrong");
                            $(".loadingImage").hide('fast');
                        }
                    });
                    $(".loadingImage").hide('fast');
                }
                else {
                    return false;
                }
            }

        </script>
    }


